.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.post {
  background-color: #0a5369;
  color: #a1abb2;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;

  .title {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: space-around;

  li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    user-select: none;

    &.disabled {
      color: #a1abb2;
    }
    &.active {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
    }

    a {
      padding: 10px;
    }
  }
}
